/* Hook styles */
.hook {
    display: none !important; /* 預設隱藏 */
}

/* 只在大螢幕桌機顯示 (寬度大於 1024px) */
@media (min-width: 1025px) {
    .hook {
        display: block !important;
    }
}

/* Hook 連結樣式 */
.hook-link {
    font-size: 13px;
    margin-right: 10px;
    color: #e6e6e6;
    transition: color 0.3s ease;
    border: 0.5px solid #e6e6e6;
    padding: 5px 8px;
    border-radius: 5px;
}

.hook-link:last-child {
    margin-right: 0;
}

/* Hover 效果 - 白色 */
.hook-link:hover {
    color: #ffffff !important;
}